
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data # Volumen de la base de datos
    networks:
      - ravedaddy-net

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "/entrypoint.sh && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./app:/usr/src/app   # Volumen de la aplicacion
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - ravedaddy-net

volumes:
  db_data:

networks:
  ravedaddy-net:
