{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RAVE DADDY</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header class="header neon-border">
    <h1 class="logo">RAVE DADDY</h1>
    {% if user.is_authenticated %}
    <p class="welcome">Bienvenido {{ user.username|default:user.email }}</p>
    <button type="submit" id="btn_logout" class="btn neon-border">LOGOUT</button>
    <script src="{% static 'js/logged.js' %}"></script>
    {% else %}
    <button onclick="openLoginModal()" class="btn login neon-border">LOGIN</button>
    {% endif %}
  </header>
  <main class="container">
    <section class="search-panel neon-border">
      <h2 class="panel-title">Find your next party</h2>
      <div class="field">
        <label>DJ</label>
        <input id="dj-input" type="text" placeholder="Freddy K, VTSS, ..." />
      </div>
      <div class="field">
        <label>Genre</label>
        <select id="genre-select">
          <option>Techno</option>
          <option>Acid techno</option>
          <option>Tech house</option>
          <option>Hard techno</option>
        </select>
      </div>
      <div class="field">
        <label>City</label>
        <select id="city-select">
          <option>Madrid</option>
          <option>Barcelona</option>
          <option>Valencia</option>
        </select>
      </div>
      <div class="field">
        <label>Date</label>
        <input id="date-input" type="date" />
        <div id="date-error" class="error-msg" style="color:#ff4d4d; font-size:0.85rem; margin-top:4px; display:none;">
        </div>
      </div>
      <button id="filter-btn" class="btn talk neon-border">FILTER AND TALK TO DADDY</button>
    </section>
    <section class="chat-section neon-border">
      <section class="bot-section">
        <div class="bot-card ">
          <div class="bot-frame">
            <div class="bot-head" id="botHead">
              <div class="eye left-eye">
                <div class="eye-iris"></div>
                <div class="eye-pupil" id="pupilLeft"></div>
              </div>
              <div class="eye right-eye">
                <div class="eye-iris"></div>
                <div class="eye-pupil" id="pupilRight"></div>
              </div>
              <div class="hud-line"></div>
            </div>
            <div class="tanktop">
              <div class="mesh"></div>
            </div>
          </div>
        </div>
      </section>
      <div class="chat-messages" id="chatMessages">

        <div class="bubble bot">
          ¿Que fiestas estas buscando?
        </div>
      </div>

      <div class="chat-input-area">
        <input type="text" id="chatInput" class="chat-input" placeholder="Háblale a Daddy..." />
        <button id="chatSend" class="btn send-btn neon-border">DADDY</button>
      </div>

    </section>
  </main>

  <div id="login-modal" class="modal hidden">
    <div class="modal-content">
      <span class="close-btn" onclick="closeLoginModal()">&times;</span>

      <div id="login-view">
        <h2 class="modal-title">Login</h2>
        <form id="login-form">
          <input id="login-email" type="email" placeholder="Email" required>
          <input id="login-password" type="password" placeholder="Password" required>
          <p id="login-error" class="error-msg hidden">Credenciales incorrectas</p>
          <button type="submit" class="login-button">Entrar</button>
        </form>

        <p class="modal-switch">
          ¿No tienes cuenta?
          <span onclick="openRegister()" class="switch-link">Regístrate aquí</span>
        </p>
      </div>

      <div id="register-view" class="hidden">
        <h2 class="modal-title">Registro</h2>

        <form id="register-form">
          <input id="reg-username" type="text" placeholder="Username" required>
          <input id="reg-email" type="email" placeholder="Email" required>
          <input id="reg-password" type="password" placeholder="Password" required>
          <p id="register-error" class="error-msg hidden">Error en el registro</p>

          <button type="submit" class="login-button">Crear cuenta</button>
        </form>

        <p class="modal-switch">
          ¿Ya tienes cuenta?
          <span onclick="openLogin()" class="switch-link">Inicia sesión aquí</span>
        </p>
      </div>

    </div>
  </div>
  </div>
  </div>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>